.dashboard-numbers {
  margin: 40px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    color: $dark-gray;
    &:hover {
      color: $dark-yellow;
      text-decoration: none;
    }
  }
}

.big-numbers {
  font-weight: bolder;
  font-size: 40px;
}
