<h1>Dashboard</h1>

<p>Lots of fancy graphs and figures about sailboats.</p>

<p><%= @boat_profile_count %> boat profiles.</p>
<p><%= @listing_count %> boat listings.</p>
<p><%= @listing_price_count %> price records.</p>
