<div id="landing-page" style="background-image: linear-gradient(rgba(255,255,255, 0.9), rgba(255,255,255, 0.1)), url(<%= image_path('landing-page.jpg') %>);">
  <h1>Sail away, soon... <i class="far fa-spin fa-grin-stars"></i></i></h1>
</div>
