<div id="landing-page" style="background-image: linear-gradient(rgba(255,255,255, 0.9), rgba(255,255,255, 0.1)), url(<%= image_path('landing-page.jpg') %>);">
  <div class="text-center">
    <h1>HOIST</h1>
    <p>Sail away, soon...</i></p>
  </div>
</div>
