.yellow-button {
  padding: 10px 15px;
  border-radius: 3px;
  background-color: $dark-yellow;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  &:hover {
    text-decoration: none;
    color: white;
    box-shadow: 4px 4px $light-yellow;
  }
}
